In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import logging
import sys
import warnings
import pandas as pd
from analysis import ReportAnalysis

warnings.filterwarnings('ignore')

logger = logging.getLogger()
logger.level = logging.DEBUG
stream_handler = logging.StreamHandler(sys.stdout)
logger.addHandler(stream_handler)

# https://www.kite.com/python/answers/how-to-display-float-values-in-a-pandas-dataframe-to-two-decimal-places-in-python
pd.options.display.float_format = "{:,.2f}".format

# Overall

In [3]:
# DS android
overall_analysis = ReportAnalysis()

In [4]:
overall_analysis.report_BERT_metrics('output/bert_ds_android', source_type = 'overall')

In [5]:
# DS synthetic
overall_analysis.report_BERT_metrics('output/bert_ds_synthetic', source_type = 'overall')

In [6]:
overall_analysis.pd_table()

                                 technique  precision  recall  f1-score
0                          bert_ds_android       0.54    0.60      0.53
1        bert_ds_android w/ frame-elements       0.54    0.59      0.52
2    bert_ds_android w/ frame-associations       0.55    0.61      0.53
3                        bert_ds_synthetic       0.54    0.57      0.52
4      bert_ds_synthetic w/ frame-elements       0.53    0.58      0.51
5  bert_ds_synthetic w/ frame-associations       0.54    0.57      0.52

# Stack Overflow

In [7]:
so_analysis = ReportAnalysis()

In [8]:
# DS android
so_analysis.report_BERT_metrics('output/bert_ds_android', source_type = 'so')

In [9]:
# DS synthetic
so_analysis.report_BERT_metrics('output/bert_ds_synthetic', source_type = 'so')

In [10]:
so_analysis.pd_table()

                                 technique  precision  recall  f1-score
0                          bert_ds_android       0.58    0.64      0.57
1        bert_ds_android w/ frame-elements       0.57    0.64      0.55
2    bert_ds_android w/ frame-associations       0.58    0.65      0.56
3                        bert_ds_synthetic       0.58    0.64      0.56
4      bert_ds_synthetic w/ frame-elements       0.56    0.63      0.53
5  bert_ds_synthetic w/ frame-associations       0.59    0.61      0.55